<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023469811782-5ibodn13kavamchup810i76u1gmp0o4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023469811782-5ibodn13kavamchup810i76u1gmp0o4d</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7TccR3xtPfWMcFPTcnWt4eChWVGmksM</string>
	<key>GCM_SENDER_ID</key>
	<string>1023469811782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.-kimWorld</string>
	<key>PROJECT_ID</key>
	<string>kimworld-b25d6</string>
	<key>STORAGE_BUCKET</key>
	<string>kimworld-b25d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023469811782:ios:29b7f0c39f228bd53a3247</string>
</dict>
</plist>